body {
    font-family: Arial, sans-serif;
}

#container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #170dd0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5d39dccd;
    color: #fff;
    cursor: pointer;
}

.alert {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#listaTurnos {
    list-style-type: none;
    padding: 0;
}

.turno-item {
    margin-bottom: 10px;
}
